<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h3 class="m-0 font-weight-bold text-info">Tu temperatura es:</h3>
    </div>
    <div class="card-body">
        <div class="tempText">
            <p class="text-gray-800"> {{ temperaturaCorporal }} ºC</p>
        </div>
    </div>
    <div class="card-buttons m-2">
        <button class="btn btn-success font-weight-bold" (click)="changeEstado()">Medir temperatura</button>
        <button class="btn btn-primary font-weight-bold" (click)="registraTemperatura()">Registrar temperatura</button>
    </div>

</div>